# Env
python-dotenv
dotenv

# Data Science
numpy
pandas==2.2.2
scipy==1.16.2
statsmodels==0.14.5

# Data Wrangling
pyjanitor
names-dataset
gender-guesser

# Machine learning
scikit-learn~>1.0
minisom

# Financieras-Actuariales
numpy-financial
pyliferisk
dateutils

# Graficas
matplotlib
seaborn
pyarrow
plotly

# Excel
openpyxl<4.0.0,>=3.0.6
xlrd==2.0.1
lxml==4.9.4
xlwt
html5lib
pyxlsb
#xlsxwriter

# Notebooks + code quality 
jupyter~=1.0
jupyterlab_server>=2.11.1
jupyterlab~>4.4.8
jupytext
#ipython>=7.31.1, <8.0; python_version < '3.8'
ipython~=8.10; python_version >= '3.8'
ruff==0.1.8

# Kedro, dependencias y datasets (CSV, Excel y Parquet)
kedro~=0.19.0
kedro-datasets[pandas-csvdataset, pandas-exceldataset, pandas-parquetdataset]>=3.0
kedro-telemetry>=0.3.1
kedro-viz~=6.0 # Visualise pipelines
ipykernel
s3fs    # S3 Amazon
adlfs   # Azure Data Lake
fsspec>=2023.9.0

# Pytest + useful extensions
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest~=7.2

# Geoespaciales
folium
geopy

# Series temporales
prophet~=1.1.5

# IA
langchain
openai
langchain_openai
langchain_community
langgraph
anthropic
faiss-cpu
